@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET CSS */

:root {
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --blue: hsl(212, 21%, 14%);
  --gray: hsl(228, 12%, 48%);
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  row-gap: 16px;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  background: var(--cream);
}

h1,
.product__title {
  font-family: "Fraunces", serif;
}

/* PRODUCT CARD */
.product {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  /* height: 450px; */
  border-radius: 16px;
  background-color: var(--white);

  .product__picture {
    flex-grow: 1;
    border-radius: 16px 0px 0px 16px;
    background-size: cover;
    background-image: url("../images/image-product-desktop.jpg");
  }

  .product__details {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 50%;
    padding: 36px 24px;

    .product__category {
      text-transform: uppercase;
      color: var(--gray);
      letter-spacing: 0.2em;
      font-size: 0.9em;
    }

    .product__title {
      font-size: 2.5em;
    }

    .product__description {
      color: var(--gray);
      line-height: 1.5em;
    }

    .product__price {
      display: flex;
      align-items: center;
      column-gap: 16px;

      & p:first-child {
        color: var(--cyan);
        font-size: 2.5em;
        font-family: "Fraunces", serif;
      }

      & p:last-child {
        text-decoration: line-through;
        color: var(--gray);
      }
    }

    button.product__cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 16px;
      border-radius: 8px;
      background: var(--blue);
      color: var(--white);

      &:hover {
        background-color: var(--cyan);
      }
    }
  }
}

@media (max-width: 640px) {
  .product {
    flex-direction: column;
    width: 345px;
    height: auto;

    .product__picture {
      flex-grow: 1;
      height: 240px;
      border-radius: 16px 16px 0px 0px;
      background-image: url("../images/image-product-mobile.jpg");
    }

    .product__details {
      width: auto;
    }
  }
}

/* FOOTER LOGO CROLWEB */
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
}

.footer__logo {
  img {
    width: 50px;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
